*.7z    -text -diff
*.bmp   -text diff=exif
*.bz2   -text -diff
*.gif   -text diff=exif
*.gz    -text -diff
*.jpg   -text diff=exif
*.jpeg  -text diff=exif
*.png   -text diff=exif
*.pam   -text diff=exif
*.pbm   -text diff=exif
*.pgm   -text diff=exif
*.ppm   -text diff=exif
*.raw   -text diff=exif
*.tar   -text -diff
*.tga   -text -diff
*.tif   -text diff=exif
*.tiff  -text diff=exif
*.zip   -text -diff
